.logo-bg {
  border-radius: 50%;
  margin: 12px;
}

.carousel_div {
  height: 50vh;
}
.carousel-item {
  height: 100% !important;
  width: 100%;
  image-resolution: calc();
}
.carousel_img {
  height: 100%;
  width: 100% !important;
}

hr {
  height: 2px;
  background-color: white !important;
}
.product-image {
  width: 100%;
  height: 250px !important;
}

.image-container {
  align-items: center;
  text-align: center;
  justify-content: center;
}
